body {
  font-family: "Open Sans", sans-serif;
  background: #030303;
  scroll-behavior: smooth;
}
.main-container {
  overflow-x: hidden;
  position: relative;
}
.video-container {
  height: 130vh;
  overflow: hidden;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130vh;
  overflow: hidden;
  z-index: -1;
}
.fullscreen-video-wrap video {
  min-height: 100%;
  min-width: 100%;
}
.hero-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.7) 60%,
    rgba(0, 0, 0, 0.1) 80%
  );
  color: #fff;
}
.hero-content .header-text {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}
.hero-content .header-subtext {
  margin-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
}
.explore-btn {
  color: #fff;
  text-decoration: none;
  margin-top: 2rem;
  border: 1px solid #fff;
  border-radius: 2rem;
  padding: 1rem;
  -webkit-backdrop-filter: blur(0.3rem);
  backdrop-filter: blur(0.3rem);
}
.fa-arrow-right {
  margin-left: 0.5rem;
}
.explore-btn:hover {
  background: #f21137;
  border: 1px solid #f21137;
  cursor: pointer;
}
hr {
  width: 70px;
  height: 4px;
  border: none;
  background: #030303;
}
.white-hr {
  background: #fff;
}
#about {
  margin-top: -10rem;
  transform: skewY(-5deg);
  background: #fff;
  padding: 5rem 0;
}
.about-container {
  transform: skewY(5deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-container h2,
.tech-container h2,
.projects-container h2,
.contact-container h2 {
  font-size: 3rem;
  text-align: center;
  line-height: 3rem;
}
.about-container p {
  margin-bottom: 1rem;
  max-width: 600px;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.7rem;
}
.about-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 1000px;
  max-width: 80%;
}

.about-content {
  flex: 1;
  padding: 2rem;
}
.about-content h3 {
  font-size: 2rem;
  text-align: center;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}
.about-content img {
  width: 100%;
}
#tech {
  margin-top: 5rem;
  color: #fff;
}
.tech-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tech-inner-container {
  display: flex;
  width: 1000px;
  max-width: 80%;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.tech-inner-container .box {
  flex: 1;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  min-height: 150px;
}
.box i {
  transition: 0.5s ease-in-out;
}
.box i:hover {
  font-size: 7rem;
  transform: rotate(360deg);
  cursor: pointer;
  -webkit-filter: drop-shadow(1px 1px 1px #fff);
  filter: drop-shadow(1px 1px 1px #fff);
}
.box-one {
  color: #e44d26;
}
.box-two {
  color: #264de4;
}
.box-three {
  color: #f0db4f;
}
.box-four {
  color: #8993be;
}
.box-five {
  color: #00758f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box-five span {
  margin-top: 0.2rem;
  font-size: 1rem;
}
.box-six {
  color: #00749c;
}
#projects {
  margin-top: 5rem;
  transform: skewY(-5deg);
  background: #fff;
  padding: 5rem 0;
}
.projects-container {
  transform: skewY(5deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-inner-container {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 0;
}
.project-card {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.project-card:hover {
  cursor: pointer;
}
.project-card:hover .preview-btn,
.touch-card .preview-btn {
  opacity: 1;
  transform: translateY(calc(150px - 1.5rem));
}
.project-card:before,
.project-card:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -moz-border-radius: 100px / 10px;
  border-radius: 1rem;
}
.project-card:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}
.project-card:hover .overlay,
.touch-card .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.3);
}
.preview-btn {
  border: none;
  width: 8rem;
  height: 3rem;
  border-radius: 1.5rem;
  position: relative;
  opacity: 0;
  transition: 0.35s ease;
  transform: translateY(0);
  left: calc(50% - 4rem);
}

.preview-btn:hover {
  cursor: pointer;
  background: #f21137;
}
.project-title {
  position: relative;
  bottom: calc(-300px + 3rem);
  right: 0;
  left: 0;
  height: 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 1rem 1rem;
  color: #fff;
}
/*popup style start*/

.popup.active {
  opacity: 1;
  pointer-events: all;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1000px;
  height: 500px;
  max-width: 80%;
  background: #fff;
  border-radius: 1rem;
  padding: 1rem;
  pointer-events: none;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  -webkit-transform: translate(-50%, -50%) scale(0);
  -moz-transform: translate(-50%, -50%) scale(0);
  -o-transform: translate(-50%, -50%) scale(0);
  transition: 0.3s ease-in-out;
  z-index: 3;
}
.close-popup-container {
  /* padding: 0.5rem 1rem; */
  font-size: 1.5rem;
  text-align: end;
}
.fa-times:hover {
  cursor: pointer;
  color: #f21137;
}
.popup-overlay {
  position: fixed;
  /* opacity: 0; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  transform: scale(0);
  transition: 0.3s ease-in-out;
  z-index: 2;
}
.popup-overlay.active {
  pointer-events: all;
  transform: scale(1);
}
/*popup style end*/
#contact {
  margin: 5rem 0 1rem 0;
  color: #fff;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin-top: 2rem;
  flex-wrap: wrap;
  padding: 0 0 2rem 0;
}
.social-menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.social-menu ul li {
  list-style: none;
  margin: 0 10px;
}
.social-menu ul li .fab {
  color: #030303;
  font-size: 25px;
  line-height: 50px;
  transition: 0.5s;
}
.social-menu ul li .fab:hover {
  color: #ffffff;
}
.social-menu ul li a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  transition: 0.5s;
}
.social-menu ul li a:hover {
  transform: translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
  background-color: #4267b2;
}
.social-menu ul li:nth-child(2) a:hover {
  background-color: #1da1f2;
}
.social-menu ul li:nth-child(3) a:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
.social-menu ul li:nth-child(4) a:hover {
  background-color: #cd201f;
}
.social-menu ul li:nth-child(5) a:hover {
  background-color: #2867b2;
}
.social-menu ul li:nth-child(6) a:hover {
  background-color: #0cacf4;
}
.footer-links {
  text-decoration: none;
  color: #fff;
  text-align: center;
  line-height: 1.8rem;
}
.footer-links:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1280px) {
  .projects-inner-container {
    justify-content: center;
  }
}
@media screen and (max-width: 1000px) {
  .about-inner-container {
    max-width: 90%;
  }
  .tech-inner-container {
    justify-content: center;
  }
  .tech-inner-container .box {
    max-width: 200px;
  }
  .projects-inner-container {
    max-width: 80%;
  }
  .contact-inner-container {
    max-width: 90%;
  }
}
@media screen and (max-width: 900px) {
  .about-inner-container {
    max-width: 95%;
  }
  .projects-inner-container {
    max-width: 90%;
  }
}
@media screen and (max-width: 834px) {
  .hero-content .header-text {
    font-size: 2.5rem;
  }
  .hero-content .header-subtext {
    font-size: 1.2rem;
  }
  .about-container {
    margin: -2.5rem 0 -2.5rem 0;
  }
  .about-inner-container {
    max-width: 60%;
    flex-direction: column;
    margin-top: 0;
  }
  .about-content {
    padding: 1rem;
  }
  #tech,
  #projects {
    margin-top: 2.5rem;
  }
  #projects {
    padding: 2.5rem 0;
  }
}
@media screen and (max-width: 600px) {
  .hero-content .header-text {
    font-size: 2.3rem;
  }

  .about-inner-container {
    max-width: 80%;
  }
}
@media screen and (max-width: 500px) {
  .about-inner-container {
    max-width: 90%;
  }
  .contact-inner-container {
    max-width: 95%;
  }
}
@media screen and (max-width: 442px) {
  .hero-content .header-text {
    font-size: 2.5rem;
  }
  .about-content h3 {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
  .about-container p {
    margin-bottom: 1rem;
    font-size: 1rem;
    line-height: 1.4rem;
  }
  .contact-inner-container {
    max-width: 250px;
  }
  .social-menu ul li {
    list-style: none;
    margin: 10px;
  }
}
@media screen and (max-width: 414px) {
  .about-container h2,
  .tech-container h2,
  .projects-container h2,
  .contact-container h2 {
    font-size: 2.5rem;
  }
}
